* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.general-con {
  width: 100%;
  height: 100%;
}

.swiper-info-idioms {
  width: 95%;
  margin-top: 85px;
  justify-content: space-between;
  display: flex;
  margin-left: 40px;
  gap: 4%;
}
.swiper-container-header-text {
  font-weight: 600;
}
.swiper-container-header-extra-bg {
  width: 65%;
  height: 580px;
  background: rgba(250, 234, 173, 0.5);
  border-radius: 20px;
  transition: transform 0.3s ease;
  min-width: 1170px;
}

.swiper-container-header-extra-bg:hover {
  transform: scale(1.03);
}

.swiper-and-header {
  border-radius: 20px;
}

.swiper-container-header {
  padding:50px;
}

.swiper-container {
  width: 90%;
  min-width: 900px;
}

.post-container {
  
  width: 100%;
  height: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #413030;
}

.post-title {
 
 
  text-overflow: ellipsis; 
  white-space: nowrap;
  padding: 20px;
  font-size: 10px;
}

.titel {
  
  text-overflow: ellipsis; 
  white-space: nowrap;
  color: rgb(240, 232, 218);
}

.image {
  width: 250px;
  height: 250px;
}

.detail-button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: wheat;
  color: #3d2c2c;
  
  font-weight: bold;
}

.like-comment {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 10px;
  gap: 10px;
}

.likebuttonandp,
.commentbuttonandp {
  display: flex;
  gap: 2px;
  
}

.amount {
  color: wheat;
}

.icons {
  fill: wheat;
  color: wheat;
}

.director-and-idioms-container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 12%;
  
}

.director-topiclists-container {
  border-radius: 20px;
  height: 260px;
  width: 90%;
  min-width: 550px;
  background: rgba(250, 234, 173, 0.5);
  transition: transform 0.3s ease;
}

.director-topiclists-container:hover {
  transform: scale(1.03);
}

.director-topiclists-header-element {
  padding-left: 40px;
  padding-top: 20px;
}

.director-topiclists-header {
  padding-left: 0px;
}

.icons-in-director {
  display: flex;
  justify-content: center;
  gap: 7%;
  padding-top: 35px;
}

.icon-and-level {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.level-info {
  font-size: 15px;
  font-weight: 500;
}

.director-click-cont {
  padding-left: 35px;
  padding-top: 15px;
}

.director-click {
  text-decoration: none;
  color: black;
}

.director-click-idioms {
  text-decoration: none;
  color: black;
}

.director-click-idioms-cont {
  padding-left: 25px;
  padding-top: 30px;
}

.click-here {
  margin-top: 10px;
  font-weight: 700;
  background: #000;
  color: wheat;
  border-radius: 20px;
  padding: 10px;
}

.click-here-idioms {

  font-weight: 700;
  background: #000;
  color: wheat;
  border-radius: 20px;
  padding: 10px;
}



.idioms-container {
  min-width: 550px;

  border-radius: 20px;
  height: 250px;
  width: 90%;
  background: rgba(250, 234, 173, 0.5);
  transition: transform 0.3s ease;
}

.idioms-container:hover {
  transform: scale(1.03);
}

.shopping-exercises-cont {
  width: 95%;
  display: flex;
  margin-left: 40px;
  justify-content: space-between;
  margin-top: 2%;
  gap: 50px;
  height: 270px;
}

.redewendungen {
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 500;
}

.redewendungen-header {
  padding-left: 40px;
  padding-top: 30px;
}





.director-exercise {
  min-width: 775px;
  width: 39.5%;
  height: 270px;
  border-radius: 20px;
  background: rgba(250, 234, 173, 0.5);
  transition: transform 0.3s ease;
}

.director-exercise:hover {
  transform: scale(1.03);
}

.something-header {
  padding-left: 30px;
  padding-top: 15px;
}
.director-exercise-header {
  padding-left: 20px;
  padding-top: 15px;
}

.director-exercise-without-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  

}

.director-exercise-without-header-span {
  width: 35%;
  padding-left: 10px;
}

.multiplechoice-icon-and-def {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 10px;

}

.fillintheblanks-icon-and-def {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dewh-span {
  font-weight: 500;

}

.exercise-name {
  font-size: 20px;
  font-weight: 500;
}

.click-here-exercises {
  margin-top: 10px;
  font-weight: 700;
  background: #000;
  color: wheat;
  border-radius: 20px;
  padding: 10px;

}

.director-click-exercises-cont {
  padding-left: 40px;
  padding-top: 30px;
}

.director-exercises-click {
  text-decoration: none;
  color: black;
}

.shopping-items-cont {
  align-items: center;
  padding-left: 50px;
  width: 70%;
  height: 270px;
  display: flex;
  gap: 20px;
  
}

.shopping-cont {
  min-width: 975px;
  display: flex;
  width: 55%;
  height: 100%;
  border-radius: 20px;
  background: rgba(250, 234, 173, 0.5);
  transition: transform 0.3s ease;
}
.shopping-cont:hover {
  transform: scale(1.03);

}


.product-mapped img {
  
  border-radius: 10px;
width: 90%;
height: 230px;
}

.something p {
  padding-left: 30px;
  font-weight: 500;
  width: 95%;
}

.something { 
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 55%;
  gap: 30px;
}

.click-here-shopping {
    font-weight: 700;
    background: #000;
    color: wheat;
    border-radius: 20px;
    padding: 10px;
    width: 70%;
    margin-left: 30px;
   
}

.director-click-shopping {
  text-decoration: none;
  color: black;
}

